<!-- /snippets/products-recently-viewed.liquid -->
{% comment %}
    Renders list of recently viewed products in grid layout

    Accepts:
    - product: {Object} product (required)
    - grid_strings: {String} contains a string of grid classes
    - heading_title: {String} contains a string from section settings
    - product_recently_minimum: {Integer} A minimum products to show

    Usage:
    {% render 'products-recently-viewed', product: product, grid_strings: grid_strings, heading_title: section.settings.product_recently_heading, product_recently_minimum: product_recently_minimum %}
{% endcomment %}

{%- assign limit = limit | default: 4 -%}
{%- assign column_count = limit -%}

{%- if limit > 4 -%}
  {%- assign column_count = '4' -%}
{%- endif -%}

<div class="recent__wrapper" id="RecentlyViewed-{{ section.id }}" data-recent-wrapper data-limit="{{ limit }}" data-minimum="{{ product_recently_minimum }}"{% if block %} {{ block.shopify_attributes }}{% endif %}>
  <div class="product-grid-outer" style="--column-count: {{ column_count }}">
    <div class="recent__content product-grid product-grid--slider product-grid--slider-alt product-grid--mobile-slider{% unless settings.product_grid_outline %} product-grid--borderless{% endunless %}"
      id="recently-viewed-products-{{ section.id }}"
      data-slider
      data-options='{"watchCSS": true, "cellAlign": "left", "pageDots": false, "prevNextButtons": true, "adaptiveHeight": false, "wrapAround": false, "groupCells": true}'
      data-arrow-position-middle
      data-equalize-height="true"
      style="display:none">
    </div>
  </div>
</div>
