{%- liquid
  assign blog_articles = blog.articles
  assign article_limit = section.settings.grid | times: section.settings.rows
  assign show_author = section.settings.show_author
  assign show_date = section.settings.show_date
  assign show_button = section.settings.show_button
  assign show_tags = section.settings.show_tags
  assign show_comments = section.settings.show_comments
  assign aspect_ratio = 1 | divided_by: section.settings.aspect_ratio
  assign onboarding = false
  assign animation_anchor = '#Blog--' | append: section.id
  assign animation_duration = 800

  if section.settings.blog_name
    if section.settings.blog_name != blank and blogs[section.settings.blog_name].articles.size > 0
      assign blog_articles = blogs[section.settings.blog_name].articles
    else
      assign onboarding = true
    endif
  endif
-%}

<div class="blog-listing-outer product-grid-outer">
  <div class="blog-listing{% if settings.product_grid_outline %} blog-listing--bordered{% endif %} product-grid">
    {%- if onboarding -%}
      {%- for i in (1..article_limit) -%}
        {%- assign animation_delay = forloop.index0 | modulo: article_limit | times: 1 -%}

        <article class="article article--onboarding">
          <div class="article__image__outer">
            <div class="article__image svg-placeholder">

              <a class="article__image-link"
                href="#"
                aria-label="Article title"
                data-aos="img-in"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-delay="{{ animation_delay | times: 150 }}"
                data-aos-duration="{{ animation_duration }}"
                data-aos-easing="ease-out-quart">
                <div class="image-wrapper" style="--aspect-ratio: {{ aspect_ratio }};">
                  {{ 'image' | placeholder_svg_tag }}
                </div>
              </a>

              {%- if show_tags -%}
                <div class="article__tags">
                  <span class="article__tag">tag</span><span class="article__tag">tag</span>
                </div>
              {%- endif -%}
            </div>
          </div>

          <div class="article__text-wrapper">
            <h2 class="article__title h6"><a href="#" title="Article title">Blog post title</a></h2>

            {%- if show_date or show_author or show_comments -%}
              <p class="article__meta">
                {%- if show_date -%}
                  <time datetime="{{ 'now' | date: format: 'full_date' }}">{{ 'now' | date: format: 'full_date' }}</time>
                {%- endif -%}

                {%- if show_author -%}
                  <span class="article__meta__author">by Author Name</span>
                {%- endif -%}

                {%- if show_comments and article.comments_count > 0 -%}
                  <span class="comment-count">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </p>
            {%- endif -%}

            <p class="article__excerpt">Once you create a blog post, the content will appear here. It will display the first few lines of text here or a summary of the post that could be added from the Excerpt section in Blog posts editor.</p>

            {%- if show_button -%}
              <div class="article__link">
                <a href="#" class="btn btn--text" aria-label="{{ 'blogs.article.read_more' | t }}">
                  <span>{{ 'blogs.article.read_more' | t }}</span>
                </a>
              </div>
            {%- endif -%}
          </div>
        </article>
      {%- endfor -%}
    {%- else -%}
      {%- for article in blog_articles limit: article_limit -%}
        {%- assign animation_delay = forloop.index0 | modulo: article_limit | times: 1 -%}

        {%- capture tags -%}
          {%- if article.tags.size > 0 and show_tags -%}
            <div class="article__tags">
              {%- for tag in article.tags limit: 3 -%}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" title="{{ blog.title }} tagged {{ tag | escape }}" class="article__tag">{{ tag }}</a>
              {%- endfor -%}
            </div>
          {%- endif -%}
        {%- endcapture -%}

        <article class="article"
          data-slide="{{ forloop.index0 }}"
          data-slide-index="{{ forloop.index0 }}">
          {%- if article.image -%}
            <div class="article__image__outer">
              <div class="article__image">
                <a class="article__image-link"
                  href="{{ article.url }}"
                  aria-label="{{ article.title | strip_html | escape }}"
                  data-aos="img-in"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-delay="{{ animation_delay | times: 150 }}"
                  data-aos-duration="{{ animation_duration }}"
                  data-aos-easing="ease-out-quart">
                  {%- capture sizes -%}
                    (min-width: 990px) calc(100vw / {{ section.settings.grid }}), (min-width: 990px) calc(100vw / 3), 100vw
                  {%- endcapture -%}
                  {%- render 'image' image: article.image, widths: '250, 280, 360, 480, 560, 640, 720, 840, 960, 1280, 1440, 1600, 1840, 2100, 2400', sizes: sizes, aspect_ratio: aspect_ratio -%}
                </a>

                {{ tags }}
              </div>
            </div>
          {%- else -%}
            {{ tags }}
          {%- endif -%}

          <div class="article__text-wrapper">
            <h2 class="article__title h6">
              <a href="{{ article.url }}" title="{{ article.title | strip_html | escape }}">
                {{ article.title }}
              </a>
            </h2>

            {%- if show_date or show_author or show_comments -%}
              <h3 class="article__meta">
                {%- if show_date -%}
                  {%- assign published_at = article.published_at | date: format: 'full_date' -%}
                  <time datetime="{{ published_at }}">{{ published_at }}</time>
                {%- endif -%}

                {%- if show_author -%}
                  <span class="article__meta__author">{{ 'blogs.article.by_author' | t: author: article.author }} </span>
                {%- endif -%}

                {%- if show_comments and article.comments_count > 0 -%}
                  <span class="comment-count">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </h3>
            {%- endif -%}

            <p class="article__excerpt">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p>

            {%- if show_button -%}
              <div class="article__link">
                <a href="{{ article.url }}" class="btn btn--text" aria-label="{{ 'blogs.article.read_more' | t }}">
                  <span>{{ 'blogs.article.read_more' | t }}</span>
                </a>
              </div>
            {%- endif -%}
          </div>
        </article>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>