  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ settings.accent_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <!-- ======================= Broadcast Theme V4.0.0 ========================= -->

  {%- unless settings.type_heading_font.system? and settings.type_base_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {{ 'theme.css' | asset_url | preload_tag: as: 'style' }}
  {{ 'vendor.js' | asset_url | preload_tag: as: 'script' }}
  {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}

  [% render 'partials/loading' %]

  {% if settings.favicon %}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {% endif %}

  <!-- Title and description ================================================ -->
  {% capture seo_title %}
    {% assign title_content = page_title %}
    {% if template == 'password' %}
      {% assign title_content = shop.name %}
    {%- endif -%}
    {{ title_content }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% else %}
    <meta name="description" content="{{ shop.description | escape }}">
  {% endif %}

  {% render 'social-meta' %}

  <!-- CSS ================================================================== -->

  {{ 'font-settings.css' | asset_url | stylesheet_tag }}

  {% render 'css-variables' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% if request.design_mode %}
    {{ 'design-mode.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <script>
    if (window.navigator.userAgent.indexOf('MSIE ') > 0 || window.navigator.userAgent.indexOf('Trident/') > 0) {
      document.documentElement.className = document.documentElement.className + ' ie';

      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    } else {
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    }

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = root + '/';
    }

    window.theme = {
      routes: {
        root: root,
        cart: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        addresses_url: '{{ routes.account_addresses_url }}'
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}",
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        from: {{ 'products.general.from' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        subscription: {{ 'products.product.subscription' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        shippingCalcSubmitButton: {{ 'cart.shipping_calculator.calculate_shipping' | t | json }},
        shippingCalcSubmitButtonDisabled: {{ 'cart.shipping_calculator.calculating' | t | json }},
        selectValue: {{ 'products.product.select_value' | t | json }},
        selectColor: {{ 'products.product.select_color' | t | json }},
        oneColor: {{ 'collections.general.colors_with_count.one' | t | json }},
        otherColor: {{ 'collections.general.colors_with_count.other' | t | json }},
        upsellAddToCart: {{ 'products.general.upsell_add_to_cart' | t | json }},
        free: {{ 'general.money.free' | t | json }},
        swatchesColor: {{ 'general.swatches.color' | t | json }}
      },
      settings: {
        customerLoggedIn: {{ customer | json }} ? true : false,
        cartDrawerEnabled: {{ settings.enable_cart_dropdown | json }},
        enableQuickAdd: {{ settings.quickview_enable | json }},
        enableAnimations: {{ settings.animations_enable | json }},
        transparentHeader: false,
        variantOnSale: {{ settings.variant_on_sale | json }},
      },
      moneyFormat: {{ settings.currency_code_enable | json }} ? {{ shop.money_with_currency_format | json }} : {{ shop.money_format | json }},
      moneyWithoutCurrencyFormat: {{ shop.money_format | json }},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      subtotal: {{ cart.items_subtotal_price | json }},
      info: {
        name: 'broadcast'
      },
      version: '4.0.0'
    };

    if (window.performance) {
      window.performance.mark('init');
    } else {
      window.fastNetworkAndCPU = false;
    }
  </script>

  {% if template.directory == 'customers' or settings.enable_cart_dropdown or template contains 'cart' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <!-- Theme Javascript ============================================================== -->
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- comment -%}
    If you need to do some edits in Theme JS use theme.dev.js file

    *** DO NOT EDIT theme.js file ***

    Then call theme.dev.js file by editing the row above from:
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    to
    <script src="{{ 'theme.dev.js' | asset_url }}" defer="defer"></script>
  {%- endcomment -%}

  <!-- Shopify app scripts =========================================================== -->

  {{ content_for_header }}
