{%- liquid
  assign show_remaining_class = ''
  assign show_notice = block.settings.show_notice
  assign max_inventory = block.settings.max_inventory
  assign hide_inventory_count = block.settings.hide_inventory_counter
  assign current_inventory = 0
  assign has_unavailable_variants = false
  assign show_buy_buttons = false
  assign buy_buttons = section.blocks | where: 'type', 'buttons'
  if buy_buttons.size > 0
    assign show_buy_buttons = true
  endif

  comment
    Set a limit of the max inventory quantity to prevent a real quantity exposure
  endcomment
  assign max_inventory_quantity = max_inventory | plus: 1

  if current_variant.inventory_management and current_variant.inventory_policy == 'deny'
    if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory
      assign show_remaining_class = 'count-is-low'
      assign current_inventory = current_variant.inventory_quantity | at_most: max_inventory_quantity
    elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory and show_notice == 'always'
      assign show_remaining_class = 'count-is-in'
    elsif current_variant.inventory_quantity < 1 and show_notice == 'always'
      assign show_remaining_class = 'count-is-out'
    endif
  endif

  assign show_inventory = false
  assign has_low_inventory = false
  assign has_soldout = false
  assign variants_inventory = product.variants | map: 'inventory_quantity'
  for inventory_quantity in variants_inventory
    if inventory_quantity > 0 and inventory_quantity < max_inventory
      assign has_low_inventory = true
    endif

    if inventory_quantity < 1
      assign has_soldout = true
    endif
  endfor

  if has_low_inventory or has_soldout and show_notice == 'always'
    assign show_inventory = true
  endif

  assign variant_count = 1
  for option in product.options_with_values
    assign variant_count = variant_count | times: option.values.size
  endfor

  if variant_count > product.variants.size
    assign has_unavailable_variants = true
  endif

  if show_buy_buttons == false and has_unavailable_variants
    assign show_inventory = true
  endif
-%}

{%- if show_inventory or show_notice == 'always' -%}
  {%- capture inventory -%}
    <span data-remaining-count>{{ current_inventory | default: 0 }}</span>
  {%- endcapture -%}

  <div class="product__block variant__countdown {{ show_remaining_class }}"
    data-remaining-max="{{ max_inventory }}"
    data-remaining-show-notice="{{ show_notice }}"
    data-remaining-wrapper
    {{ block.shopify_attributes }}
    {{ block_style }}>
    <span class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</span>
    {%- if hide_inventory_count -%}
      <span class="variant__countdown--low">{{ 'products.product.remaining_no_count' | t }}</span>
    {%- else -%}
      <span class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
    {%- endif -%}

    <span class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</span>
    <span class="variant__countdown--unavailable">{{ 'products.product.item_unavailable' | t }}</span>

    <script data-product-remaining-json type="application/json">
      {
        {%- liquid
          for variant in product.variants
            assign variant_id = variant.id | json

            if variant.inventory_management and variant.inventory_policy == 'deny'
              assign quantity = variant.inventory_quantity | at_most: max_inventory_quantity

              if hide_inventory_count
                if quantity < 1
                  assign remaining_value = 'out'
                elsif quantity > 0 and quantity < max_inventory
                  assign remaining_value = 'low'
                else
                  assign remaining_value = 'in'
                endif
              else
                assign remaining_value = quantity
              endif
            else
              assign remaining_value = 'unavailable'
            endif

            echo '"' | append: variant_id | append: '": "' | append: remaining_value | append: '"'

            unless forloop.last
              echo ','
            endunless
          endfor
        -%}
      }
    </script>
  </div>
{%- elsif request.design_mode -%}
  <div {{ block.shopify_attributes }}></div>
{%- endif -%}