{%- liquid
  assign image = block.settings.image
  assign prev_index = forloop.index0 | minus: 1
  assign next_index = forloop.index0 | plus: 1
  assign prev_block = section.blocks[prev_index]
  assign next_block = section.blocks[next_index]
  assign icon_color = block.settings.icon_color
  if icon_color != blank and icon_color != 'rgba(0,0,0,0)'
    assign block_style = ' style="--text: ' | append: icon_color | append: '"'
  endif
  assign width = block.settings.width
-%}

{%- if forloop.index0 == 0 or prev_block.type != 'icon' -%}
  <div class="product__block product__icon__row" style="--block-padding-bottom: {{ block.settings.padding_bottom }}px;">
{%- endif -%}

<div class="product__icon__container product__icon__container--{{ width }}"{{ block_style }} {{ block.shopify_attributes }}>
  {%- liquid
    assign icon_size = block.settings.icon_size
    assign icon_color = block.settings.icon_color
    capture icon_style
      echo 'style="'
      echo '--icon-size: ' | append: icon_size | append: 'px;'
      if icon_color != blank and icon_color != 'rgba(0,0,0,0)'
        echo ' --text: ' | append: icon_color | append: ';'
      endif
      echo '"'
    endcapture
  -%}
  <div class="product__icon" data-aos="img-in" {{ icon_style }}>
    {%- liquid
      if image
        assign icon_width = icon_size
        assign icon_width_retina = icon_width | times: 2
        assign icon_sizes = icon_width | append: 'px'
        assign icon_widths = icon_width | append: ', ' | append: icon_width_retina

        render 'image' image: image, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, show_backfill: false
      else
        render 'animated-icon', filename: block.settings.icon_name
      endif
    -%}
  </div>

  {%- if block.settings.title != blank -%}
    <div class="product__icon__text" data-aos="fade" data-aos-duration="500">
      <p>{{ block.settings.title }}</p>
    </div>
  {%- endif -%}
</div>

{%- if forloop.index == section.blocks.size or next_block.type != 'icon' -%}
  </div>
{%- endif -%}