{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign bg_color_exist = false
  assign logo = section.settings.logo
  assign logo_max_width = section.settings.logo_max_width
  assign animation_anchor = '#password-template-' | append: section.id
  assign animation_order = 1

  unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank
    assign bg_color_exist = true
  endunless

  if text_color == 'rgba(0,0,0,0)' or text_color == blank
    assign text_color = settings.text_color
  endif
-%}

{%- capture style -%}
  --text: {{ text_color }};
  --text-a35: {{ text_color | color_modify: 'alpha', 0.35 }};
  --text-a75: {{ text_color | color_modify: 'alpha', 0.75 }};
{%- endcapture -%}

{%- capture actions_content_html -%}
  <div class="section-double__actions frame @@@@-modifier-placeholder-@@@@"
    data-aos="hero"
    data-aos-anchor="{{ animation_anchor }}"
    data-aos-order="@@@@-aos-order-placeholder-@@@@">
    {%- if logo != blank -%}
      <figure class="section-double__logo__holder frame__item">
        <div class="section-double__logo" style="width: {{ logo_max_width }}px">
          {%- liquid
            assign width = logo_max_width | times: 2
            assign sizes = logo_max_width | append: 'px'
            capture widths
              echo logo_max_width
              echo ', ' | append: width
            endcapture

            render 'image' image: logo, width: width, widths: widths, sizes: sizes
          -%}
        </div>
      </figure>
    {%- else -%}
      <h1 class="section-double__title frame__item">{{ shop.name }}</h1>
    {%- endif -%}

    <div class="section-double__links frame__item">
      <div class="section-double__powered">
        <small>{{ 'password.page.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a></small>
      </div>

      <div class="section-double__links__row">
        <a href="#" data-password-login class="text-link">{{ 'password.buttons.store_login' | t }}</a>
      </div>
    </div>
  </div>
{%- endcapture -%}

<section class="section-double section-double--password text-center{% if section.settings.layout == 'right' %} is-reversed{% endif %}"
  id="password-template-{{ section.id }}"
  data-section-type="password-template"
  data-section-id="{{ section.id }}"
  style="{% if bg_color_exist %}--bg: {{ bg_color }}; {% endif %}--text: {{ text_color }};">
  <div class="section-double__body screen-height-full">
    {%- if section.settings.image != blank -%}
      <figure class="section-double__figure is-sticky screen-height-full--mobile small--hide">
        {%- render 'image-hero' image: section.settings.image, modifier: 'section-double__image', desktop_height: 'screen-height-full', mobile_height: 'screen-height-full--mobile', sizes: '50vw' -%}
      </figure>
    {%- endif -%}

    <div class="section-double__aside">
      {{ actions_content_html | replace: '@@@@-modifier-placeholder-@@@@', 'section-double__actions--top' | replace: '@@@@-aos-order-placeholder-@@@@', animation_order }}

      {%- if section.blocks.size > 0 -%}
        <div class="section-double__content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                <div class="section-double__text"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}>
                  {%- if block.settings.title != blank -%}
                    <h4>{{ block.settings.title }}</h4>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    {{ block.settings.text }}
                  {%- endif -%}
                </div>
              {%- when 'menu' -%}
                {%- liquid
                  assign animation_order = animation_order | plus: 1

                  assign button_style = block.settings.button_style
                  if button_style == 'btn--text' and block.settings.show_arrow
                    assign button_style = button_style | append: ' btn--text-no-underline'
                  endif
                -%}
                <div class="section-double__menu"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}>
                  {%- for link in linklists[block.settings.menu].links -%}
                    <a href="{{ link.url }}" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}">
                      <span>{{ link.title }}</span>

                      {%- if block.settings.show_arrow -%}
                        {%- render 'icon-arrow-right' -%}
                      {%- endif -%}
                    </a>
                  {%- endfor -%}
                </div>
              {%- when 'newsletter' -%}
                {%- liquid
                  assign animation_order = animation_order | plus: 1

                  assign button_style = block.settings.button_style
                  if button_style == 'btn--text' and block.settings.show_arrow
                    assign button_style = button_style | append: ' btn--text-no-underline'
                  endif
                -%}

                <div class="section-double__newsletter"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}>
                  {% form 'customer', style: style %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                      <p>{{ 'password.form.success' | t }}</p>
                    {% else %}
                      <div id ="CustomerSignup" class="form-customer-signup">
                        <input type="hidden" name="contact[tags]" value="prospect, password page">
                        <input class="signup-input" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}">
                        <button type="submit" class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }} customer-signup-button">
                          <span>{{ 'password.buttons.sign_up' | t }}</span>

                          {%- if block.settings.show_arrow -%}
                            {%- render 'icon-arrow-right' -%}
                          {%- endif -%}
                        </button>

                        {% if content_for_header contains 'recaptcha' %}
                          <div class="form__legal">
                            {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endform %}
                </div>
              {%- when 'social-links' -%}
                {%- assign animation_order = animation_order | plus: 1 -%}
                <div class="section-double__social"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="{{ animation_order }}"
                  {{ block.shopify_attributes }}>
                  {%- render 'social-icons' -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- assign animation_order = animation_order | plus: 1 -%}
      {{ actions_content_html | replace: '@@@@-modifier-placeholder-@@@@', 'section-double__actions--bottom' | replace: '@@@@-aos-order-placeholder-@@@@', animation_order }}
    </div>
  </div>

  <div>
    <div data-password-modal class="modal__overlay modal__overlay--default modal__overlay--password block-scope-password-id">
      <div class="modal__outer">
        <div class="modal__wrapper">
          <div class="modal__body modal--default modal--password" data-modal-body style="--bg: {% if bg_color_exist %}{{ bg_color }}{% else %}var(--COLOR-BG){% endif %};">
            <div class="modal-section">
              <div class="modal-wrapper modal-wrapper--reverse modal-wrapper--no-image">
                <div class="modal__text">
                  <div class="modal__inner">
                    <h2 class="modal__title">{{ 'password.buttons.store_login' | t }}</h2>
                    {% form 'storefront_password', class: 'newsletter-form', style: style %}
                      {{ form.errors | default_errors }}
                      {% if form.posted_successfully? %}
                      {% else %}
                        <div id="AdminLogin" class="form-admin-login">
                          <div class="input-group">
                            <input class="input-group__field" type="password" name="password" id="password" placeholder="{{ 'password.form.login' | t }}">
                            <button type="submit" class="caps newsletter__submit input-group__btn">{{ 'password.buttons.login' | t }}</button>
                          </div>
                        </div>
                      {% endif %}
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>

            <button data-modal-close class="close" title="{{ 'general.accessibility.close' | t }}">
              {%- render 'icon-cancel' -%}
            </button>
          </div>

          <div class="modal__underlay" data-modal-close></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Password page",
  "class": "password",
  "templates": ["password"],
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 200,
      "step":10,
      "unit":"px"
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Hidden on mobile"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Coming Soon"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sign up for our newsletter to stay up to date on when we officially open</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Color",
          "default": "btn--primary",
          "options": [
            {"value": "btn--primary", "label": "Primary"},
            {"value": "btn--secondary", "label": "Secondary"},
            {"value": "btn--white", "label": "White"},
            {"value": "btn--black", "label": "Black"}
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Small", "value": "btn--small" },
            { "label": "Medium", "value": "" },
            { "label": "Large", "value": "btn--large" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn--solid",
          "options": [
            { "label": "Solid", "value": "btn--solid" },
            { "label": "Outline", "value": "btn--outline" },
            { "label": "Text", "value": "btn--text" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show arrow",
          "default": false
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Color",
          "default": "btn--primary",
          "options": [
            {"value": "btn--primary", "label": "Primary"},
            {"value": "btn--secondary", "label": "Secondary"},
            {"value": "btn--white", "label": "White"},
            {"value": "btn--black", "label": "Black"}
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Small", "value": "btn--small" },
            { "label": "Medium", "value": "" },
            { "label": "Large", "value": "btn--large" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn--solid",
          "options": [
            { "label": "Solid", "value": "btn--solid" },
            { "label": "Outline", "value": "btn--outline" },
            { "label": "Text", "value": "btn--text" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show arrow",
          "default": false
        }
      ]
    },
    {
      "type": "social-links",
      "name": "Social links"
    }
  ]
}
{% endschema %}
