<section id="Faq--{{ section.id }}" class="section-faq section-padding" data-section-id="{{ section.id }}" data-section-type="faq">
  <div class="{{ section.settings.width }}">
    <div class="accordion" data-accordion>
      {%- if section.settings.title != blank -%}
        <h2 data class="accordion__title" data-focus-element tabindex="0" data-accordion-toggle>
          {{ section.settings.title }}

          {%- render 'icon-plus' -%}
          {%- render 'icon-minus' -%}
        </h2>
      {%- endif -%}

      <div class="section__body accordion__body" data-accordion-body>
        <div class="faq-list-holder">
          <div class="faq-list faq-list--{{ section.blocks.size }}">
            {%- for block in section.blocks -%}
              {%- capture text_content -%}
                <div class="faq-list__item-description">
                  {%- if block.settings.title != blank -%}
                    <h3 class="faq-list__item-title">
                      {{ block.settings.title }}
                    </h3>
                  {%- endif -%}

                  <div class="rte faq-list__item-content">
                    {{ block.settings.text }}
                  </div>
                </div>
              {%- endcapture -%}

              {%- case block.type -%}
                {%- when '@app' -%}
                  <div class="faq-list__item">
                    {%- render block -%}
                  </div>

                {%- when 'text' -%}
                  <div class="faq-list__item" {{ block.shopify_attributes }}>
                    {{ text_content }}
                  </div>
                {%- when 'icon' -%}
                  <div class="faq-list__item" {{ block.shopify_attributes }}>
                    <div class="faq-list__item-icon">
                      {%- liquid
                           assign icon_size = block.settings.icon_size
                           assign icon_color = block.settings.icon_color
                           capture icon_style
                             echo 'style="'
                             echo '--icon-size: ' | append: icon_size | append: 'px;'
                             if icon_color != blank and icon_color != 'rgba(0,0,0,0)'
                               echo ' --text: ' | append: icon_color | append: ';'
                             endif
                             echo '"'
                           endcapture
                         -%}

                      <div class="icon__animated icon__animated--{{ block.id }}" data-aos="svg-dash" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="500" {{ icon_style }}>
                        {%- render 'animated-icon', filename: block.settings.icon_name -%}
                      </div>
                    </div>
                    {{ text_content }}
                  </div>
                {%- when 'image' -%}
                  <div class="faq-list__item" {{ block.shopify_attributes }}>
                    <div class="faq-list__item-image">
                      {%- assign aspect_ratio = 1 | divided_by: block.settings.aspect_ratio -%}
                      {%- render 'image', image: block.settings.image, aspect_ratio: aspect_ratio -%}
                    </div>
                    {{ text_content }}
                  </div>
                {%- when 'html' -%}
                  <div class="faq-list__item" {{ block.shopify_attributes }}>
                    {{ block.settings.html }}
                  </div>
                {%- when 'contact-form' -%}
                  <div class="faq-list__item faq-list__item--form" {{ block.shopify_attributes }}>
                    {%- assign section_block_id = section.id | append: '-' | append: block.id -%}
                    {%- assign form_id = 'contact-us-page-' | append: section_block_id -%}
                    {%- assign field_name = 'contact.form.name' | t -%}
                    {%- assign field_email = 'contact.form.email' | t -%}
                    {%- assign field_message = 'contact.form.message' | t -%}
                    {%- form 'contact', id: form_id -%}
                      {%- if form.posted_successfully? -%}
                        <p class="form-success">
                          {{ 'contact.form.post_success' | t }}
                        </p>
                      {%- endif -%}

                      {{ form.errors | default_errors }}

                      <div class="custom-form__block">
                        <label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="visually-hidden">{{ field_name }}
                        </label>
                        <input type="text" class="contactFormText field" id="Form-{{ section_block_id }}-{{ forloop.index0 }}" name="contact[{{ field_name | handleize }}]" placeholder="{{ field_name }}" autocapitalize="words" value="" required/>
                      </div>

                      <div class="custom-form__block">
                        <label for="contactFormEmail" class="visually-hidden">{{ field_email }}
                        </label>
                        <input type="email" id="{{ section_block_id }}-contactFormEmail" class="contactFormEmail field" name="contact[email]" placeholder="{{ field_email }}" autocorrect="off" autocapitalize="off" required>
                      </div>

                      <div class="custom-form__block">
                        <label for="ContactFormMessage" class="visually-hidden">{{ field_message }}
                        </label>
                        <textarea rows="10" id="{{ section_block_id }}-ContactFormMessage" class="contactFormMessage field" name="contact[body]" placeholder="{{ field_message }}"></textarea>
                      </div>

                      <div class="custom-form__block">
                        <input type="submit" class="btn btn--black btn--solid btn--full" value="{{ 'contact.form.send' | t }}">
                      </div>

                      {%- if block.settings.terms -%}
                        <div class="form__legal">
                          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
                        </div>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                {%- else -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{% schema %}
  {
    "name": "Accordion test",
    "class": "accordions-holder",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "FAQ"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text"
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Border"
      }, {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          {
            "value": "wrapper",
            "label": "Normal"
          }, {
            "value": "wrapper--narrow",
            "label": "Narrow"
          }
        ]
      }, {
        "type": "header",
        "content": "Section padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "name": "Text column",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Frequently asked question"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this to answer some common questions you hear from your customers. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your products. This section will appear across all products.</p>"
          }
        ]
      },
      {
        "name": "Image column",
        "type": "image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this to answer some common questions you hear from your customers. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your products. This section will appear across all products.</p>"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "range",
            "id": "aspect_ratio",
            "min": 0.3,
            "max": 1.5,
            "step": 0.1,
            "unit": ":1",
            "label": "Photo aspect ratio",
            "info": "Wide to tall",
            "default": 0.6
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon column",
        "settings": [
          {
            "type": "select",
            "id": "icon_name",
            "label": "Icon",
            "default": "icon-award",
            "options": [
              {
                "label": "Award",
                "value": "icon-award"
              },
              {
                "label": "Box",
                "value": "icon-box"
              },
              {
                "label": "Chat",
                "value": "icon-chat"
              },
              {
                "label": "Cloud",
                "value": "icon-cloud"
              }, {
                "label": "Diameter",
                "value": "icon-diameter"
              }, {
                "label": "Discount",
                "value": "icon-discount"
              }, {
                "label": "Donation",
                "value": "icon-donation"
              }, {
                "label": "Droplet",
                "value": "icon-droplet"
              }, {
                "label": "Info",
                "value": "icon-info-empty"
              }, {
                "label": "Email",
                "value": "icon-email"
              }, {
                "label": "Fast shipment",
                "value": "icon-fast-shipment"
              }, {
                "label": "Flare",
                "value": "icon-flare"
              }, {
                "label": "Flower",
                "value": "icon-flower"
              }, {
                "label": "Gift",
                "value": "icon-gift"
              }, {
                "label": "Green shipment",
                "value": "icon-green-shipment"
              }, {
                "label": "Heart",
                "value": "icon-heart"
              }, {
                "label": "Leaf",
                "value": "icon-leaf"
              }, {
                "label": "Lightening",
                "value": "icon-lightening"
              }, {
                "label": "Location",
                "value": "icon-location"
              }, {
                "label": "Mail",
                "value": "icon-mail"
              }, {
                "label": "Notes",
                "value": "icon-notes"
              }, {
                "label": "Pants",
                "value": "icon-pants"
              }, {
                "label": "Peace",
                "value": "icon-peace"
              }, {
                "label": "Pin",
                "value": "icon-pin"
              }, {
                "label": "Planet",
                "value": "icon-planet"
              }, {
                "label": "Phone",
                "value": "icon-phone"
              }, {
                "label": "Recycle",
                "value": "icon-recycle"
              }, {
                "label": "Ruler",
                "value": "icon-ruler"
              }, {
                "label": "Shield",
                "value": "icon-shield"
              }, {
                "label": "Smile",
                "value": "icon-smile"
              }, {
                "label": "Star",
                "value": "icon-star"
              }, {
                "label": "Tree",
                "value": "icon-tree"
              }, {
                "label": "Trophy",
                "value": "icon-trophy"
              }, {
                "label": "Truck",
                "value": "icon-truck"
              }, {
                "label": "Vegan",
                "value": "icon-vegan"
              }, {
                "label": "Wash",
                "value": "icon-wash"
              }, {
                "label": "Washing machine",
                "value": "icon-washing-machine"
              }
            ]
          },
          {
            "type": "range",
            "id": "icon_size",
            "label": "Size",
            "unit": "px",
            "min": 20,
            "max": 80,
            "step": 5,
            "default": 20
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "default": "#AAAAAA"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Icon heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this to answer some common questions you hear from your customers. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your products. This section will appear across all products.</p>"
          }
        ]
      }, {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "html",
            "label": "Custom HTML",
            "default": "<p>Once you write some HTML, it will render right here.</p>"
          }
        ]
      }, {
        "type": "contact-form",
        "name": "Contact form",
        "settings": [
          {
            "type": "checkbox",
            "id": "terms",
            "label": "Show reCAPTCHA terms",
            "default": true,
            "info": "Recommended if your online store preferences have spam protection enabled."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Accordion test",
        "category": "Text",
        "blocks": [
          {
            "type": "text"
          }, {
            "type": "text"
          }, {
            "type": "text"
          }, {
            "type": "text"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer", "custom.pre_footer"]
    }
  }
{% endschema %}}