<!-- /sections/section-product.liquid -->
{%- liquid
  assign product = all_products[section.settings.home_product]
  assign current_variant = product.selected_or_first_available_variant
  assign unique = section.id
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign border_color = section.settings.border_color
-%}

{%- style -%}
  #Product--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
      --text-light: {{ text_color | color_mix: settings.bg_color, 70 }};
      --text-dark: {{ text_color | color_saturate: 10 | color_darken: 15 }};
    {%- endunless -%}

    {%- unless border_color == 'rgba(0,0,0,0)' or border_color == blank -%}
      --border: {{ border_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

<div id="Product--{{ section.id }}"
  class="index-product section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-tall-layout="false"
  data-slideshow-disabled-mobile='{% if section.settings.mobile_image_style == 'slider' %}true{% else %}false{% endif %}'
  data-enable-history-state="false"
  data-image-zoom-enable="{{ section.settings.enable_zoom }}">
  {%- if product.empty? -%}
    {%- render 'onboarding-product', section: section, unique: section.id -%}
  {%- else -%}
    [% render 'partials/product' %]
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "home_product",
        "label": "Product"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "image_layout",
        "label": "Image display",
        "default": "thumbnails",
        "options": [
          { "value": "thumbnails", "label": "Thumbnails - Bottom" },
          { "value": "thumbnails-left", "label": "Thumbnails - Left" },
          { "value": "stacked", "label": "Stacked" },
          { "value": "grid-1", "label": "Mosaic" },
          { "value": "grid-2", "label": "Grid" }
        ],
        "info": "Desktop only"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Half"
          },
          {
            "value": "stretch",
            "label": "Stretch - No thumbnails"
          }
        ],
        "default": "normal"
      },
      {
        "type": "header",
        "content": "Media",
        "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
        "type": "select",
        "id": "mobile_image_style",
        "label": "Style",
        "options": [
          {
            "value": "thumbs",
            "label": "Thumbnails"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ],
        "default": "thumbs"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "id": "bg_color",
        "type": "color",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border"
      },
      {
        "type": "header",
        "content": "Block padding"
      },
      {
        "type": "range",
        "id": "block_padding",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Padding",
        "default": 20
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "subheading_option",
            "label": "Navigation",
            "default": "none",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "breadcrumb", "label": "Breadcrumb" },
              { "value": "collection", "label": "Collection" },
              { "value": "vendor", "label": "Vendor" }
            ]
          },
          {
            "type": "header",
            "content": "Star rating"
          },
          {
            "type": "checkbox",
            "id": "show_rating",
            "label": "Show ratings",
            "default": true,
            "info": "Requires an app to set the metafield value for reviews.rating"
          },
          {
            "type": "checkbox",
            "id": "enable_star_rating",
            "label": "Enable star rating",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_rating_count",
            "label": "Show rating count",
            "default": false
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 8
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "variants",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Size chart"
          },
          {
            "type": "page",
            "id": "info_page",
            "label": "Page",
            "info": "[Learn more](https://broadcast.invisiblethemes.com/products/size-charts)"
          },
          {
            "type": "header",
            "content": "Subscriptions",
            "info": "Learn more about [subscriptions](https://help.shopify.com/en/manual/products/subscriptions)"
          },
          {
            "type": "checkbox",
            "id": "subscriptions_enable_selectors",
            "label": "Enable subscription selectors",
            "info": "Shown on products with subscription options",
            "default": false
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_quantity",
            "label": "Show quantity selector",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_payment_button",
            "label": "Show dynamic checkout buttons",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/en/manual/online-store/os/dynamic-checkout)",
            "default": true
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 32
          }
        ]
      },
      {
        "type": "siblings",
        "name": "Siblings",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Siblings allow you to split colors into separate products. [Learn more](https://invisiblethemes.com/link/broadcast/docs/siblings)"
          },
          {
            "type": "text",
            "id": "siblings_collection",
            "label": "Product siblings collection handle",
            "info": "Use a metafield containing a collection handle for color siblings.  The collection should contain all color options as unique products."
          },
          {
            "type": "text",
            "id": "sibling_color",
            "label": "Product color metafield",
            "info": "Use a single line text metafield called 'theme.sibling_color' for product color."
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "tab_richtext",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_read_more",
            "label": "Show read more button",
            "default": true
          },
          {
            "type": "select",
            "id": "style",
            "label": "Tab style",
            "default": "tabs",
            "options": [
              { "value": "inline", "label": "Disable tabs" },
              { "value": "tabs", "label": "Tabs" },
              { "value": "accordions", "label": "Accordions" }
            ]
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Tab heading",
            "default": "Tab"
          },
          {
            "type": "richtext",
            "id": "raw_content_1",
            "label": "Tab text",
            "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Tab heading",
            "default": "Info"
          },
          {
            "type": "richtext",
            "id": "raw_content_2",
            "label": "Tab text",
            "default": "<p>You can use product metafields to assign content to this tab that is unique to an individual product.  Use tabs to highlight unique features, sizing information, or other sales information.</p>"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_3",
            "label": "Tab text"
          },
          {
            "type": "text",
            "id": "title_4",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_4",
            "label": "Tab text"
          },
          {
            "type": "text",
            "id": "title_5",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_5",
            "label": "Tab text"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
          }
        ]
      },
      {
        "type": "upsell",
        "name": "Upsell",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Use the metafield “theme.upsell” to connect an upsell product. [Learn more](https://invisiblethemes.com/link/broadcast/docs/upsell)"
          },
          {
            "type": "product",
            "id": "upsell_product",
            "label": "Product"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "inventory_countdown",
        "name": "Inventory countdown",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "show_notice",
            "label": "Show notice",
            "default": "low-inventory",
            "options": [
              { "label": "Always", "value": "always" },
              { "label": "Low inventory", "value": "low-inventory" }
            ]
          },
          {
            "type": "range",
            "id": "max_inventory",
            "label": "Low inventory threshold",
            "min": 1,
            "max": 50,
            "step": 1,
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "hide_inventory_counter",
            "label": "Hide inventory counter",
            "default": true
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "sharing",
        "name": "Sharing",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Have questions?"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Get in touch with us at any time.</p>"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "code",
        "name": "Custom code",
        "settings": [
          {
            "type": "liquid",
            "id": "code",
            "label": "Custom code",
            "info": "Add app snippets or other Liquid code to create advanced customizations."
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
        {
            "type": "select",
            "id": "icon_name",
            "label": "Icon",
            "default": "icon-award",
            "options": [
              { "label": "Award", "value": "icon-award" },
              { "label": "Box", "value": "icon-box" },
              { "label": "Chat", "value": "icon-chat" },
              { "label": "Cloud", "value": "icon-cloud" },
              { "label": "Diameter", "value": "icon-diameter" },
              { "label": "Discount", "value": "icon-discount" },
              { "label": "Donation", "value": "icon-donation" },
              { "label": "Droplet", "value": "icon-droplet" },
              { "label": "Info", "value": "icon-info-empty" },
              { "label": "Email", "value": "icon-email" },
              { "label": "Fast shipment", "value": "icon-fast-shipment" },
              { "label": "Flare", "value": "icon-flare" },
              { "label": "Flower", "value": "icon-flower" },
              { "label": "Gift", "value": "icon-gift" },
              { "label": "Green shipment", "value": "icon-green-shipment" },
              { "label": "Heart", "value": "icon-heart" },
              { "label": "Leaf", "value": "icon-leaf" },
              { "label": "Lightening", "value": "icon-lightening" },
              { "label": "Location", "value": "icon-location" },
              { "label": "Mail", "value": "icon-mail" },
              { "label": "Notes", "value": "icon-notes" },
              { "label": "Pants", "value": "icon-pants" },
              { "label": "Peace", "value": "icon-peace" },
              { "label": "Pin", "value": "icon-pin" },
              { "label": "Planet", "value": "icon-planet" },
              { "label": "Phone", "value": "icon-phone" },
              { "label": "Recycle", "value": "icon-recycle" },
              { "label": "Ruler", "value": "icon-ruler" },
              { "label": "Shield", "value": "icon-shield" },
              { "label": "Smile", "value": "icon-smile" },
              { "label": "Star", "value": "icon-star" },
              { "label": "Tree", "value": "icon-tree" },
              { "label": "Trophy", "value": "icon-trophy" },
              { "label": "Truck", "value": "icon-truck" },
              { "label": "Vegan", "value": "icon-vegan" },
              { "label": "Wash", "value": "icon-wash" },
              { "label": "Washing machine", "value": "icon-washing-machine" }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Alternative icon/image"
          },
          {
            "type": "range",
            "id": "icon_size",
            "label": "Size",
            "unit": "px",
            "min": 20,
            "max": 80,
            "step": 5,
            "default": 20
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "default": "#545454"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "full",
            "options": [
              { "label": "Full width", "value": "full" },
              { "label": "Half", "value": "half" },
              { "label": "One third", "value": "third" },
              { "label": "One quarter", "value": "quarter" }
            ]
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_line",
            "label": "Show line",
            "default": true
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 20
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 20
          }
        ]
      },
      {
        "type": "line-item",
        "name": "Line item property",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "Your label"
          },
          {
            "type": "select",
            "id": "type",
            "label": "Type",
            "default": "text",
            "options": [
              { "label": "Text", "value": "text" },
              { "label": "Checkbox", "value": "checkbox" },
              { "label": "Dropdown", "value": "dropdown" }
            ]
          },
          {
            "type": "header",
            "content": "Text",
            "info": "For Type set to \"Text\"."
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "Required",
            "default": true
          },
          {
            "type": "header",
            "content": "Checkbox",
            "info": "For Type set to \"Checkbox\"."
          },
          {
            "type": "text",
            "id": "checked_value",
            "label": "Checked value",
            "default": "Yes"
          },
          {
            "type": "text",
            "id": "unchecked_value",
            "label": "Unchecked value",
            "default": "No"
          },
          {
            "type": "header",
            "content": "Dropdown",
            "info": "For Type set to \"Dropdown\"."
          },
          {
            "type": "text",
            "id": "option_1",
            "label": "Option 1",
            "default": "Option 1"
          },
          {
            "type": "text",
            "id": "option_2",
            "label": "Option 2",
            "default": "Option 2"
          },
          {
            "type": "text",
            "id": "option_3",
            "label": "Option 3",
            "default": "Option 3"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      },
      {
        "type": "features",
        "name": "Feature",
        "settings": [
          {
            "type": "select",
            "id": "icon_name",
            "label": "Icon",
            "default": "icon-award",
            "options": [
              { "label": "Award", "value": "icon-award" },
              { "label": "Box", "value": "icon-box" },
              { "label": "Chat", "value": "icon-chat" },
              { "label": "Cloud", "value": "icon-cloud" },
              { "label": "Diameter", "value": "icon-diameter" },
              { "label": "Discount", "value": "icon-discount" },
              { "label": "Donation", "value": "icon-donation" },
              { "label": "Droplet", "value": "icon-droplet" },
              { "label": "Info", "value": "icon-info-empty" },
              { "label": "Email", "value": "icon-email" },
              { "label": "Fast shipment", "value": "icon-fast-shipment" },
              { "label": "Flare", "value": "icon-flare" },
              { "label": "Flower", "value": "icon-flower" },
              { "label": "Gift", "value": "icon-gift" },
              { "label": "Green shipment", "value": "icon-green-shipment" },
              { "label": "Heart", "value": "icon-heart" },
              { "label": "Leaf", "value": "icon-leaf" },
              { "label": "Lightening", "value": "icon-lightening" },
              { "label": "Location", "value": "icon-location" },
              { "label": "Mail", "value": "icon-mail" },
              { "label": "Notes", "value": "icon-notes" },
              { "label": "Pants", "value": "icon-pants" },
              { "label": "Peace", "value": "icon-peace" },
              { "label": "Pin", "value": "icon-pin" },
              { "label": "Planet", "value": "icon-planet" },
              { "label": "Phone", "value": "icon-phone" },
              { "label": "Recycle", "value": "icon-recycle" },
              { "label": "Ruler", "value": "icon-ruler" },
              { "label": "Shield", "value": "icon-shield" },
              { "label": "Smile", "value": "icon-smile" },
              { "label": "Star", "value": "icon-star" },
              { "label": "Tree", "value": "icon-tree" },
              { "label": "Trophy", "value": "icon-trophy" },
              { "label": "Truck", "value": "icon-truck" },
              { "label": "Vegan", "value": "icon-vegan" },
              { "label": "Wash", "value": "icon-wash" },
              { "label": "Washing machine", "value": "icon-washing-machine" }
            ]
          },
          {
            "type": "image_picker",
            "id": "icon_alt",
            "label": "Alternative icon/image"
          },
          {
            "type": "range",
            "id": "icon_size",
            "label": "Size",
            "unit": "px",
            "min": 20,
            "max": 80,
            "step": 5,
            "default": 20
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Feature"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "id": "bg_color",
            "type": "color",
            "label": "Background",
            "default": "#F7F9FA"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Text",
            "default": "#212121"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding",
            "default": 16
          }
        ]
      },
      {
        "type": "complementary-products",
        "name": "Complementary products",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background"
          },
          {
            "type": "header",
            "content": "Block spacing"
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 16
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Collection",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variants"
          },
          {
            "type": "buttons"
          },
          {
            "type": "tab_richtext"
          },
          {
            "type": "divider",
            "settings": {
              "padding_top": 30,
              "padding_bottom": 20
            }
          },
          {
            "type": "upsell"
          },
          {
            "type": "divider",
            "settings": {
              "padding_top": 10,
              "padding_bottom": 30
            }
          },
          {
            "type": "icon",
            "settings": {
              "icon_name": "icon-email",
              "title": "Free 30 Days Returns"
            }
          },
          {
            "type": "icon",
            "settings": {
              "icon_name": "icon-truck",
              "title": "Free shipping on orders over $100"
            }
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}
