<!-- /sections/section-text-with-products.liquid -->
{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign font_size_class = section.settings.heading_size | prepend: 'heading-size-'
  assign title = section.settings.title
  assign title_arr = ''
  assign title_arr_size = 0
  assign animation_anchor = '#TextProducts--' | append: section.id
  assign items_code = ''
  assign items_index = ''
  assign items_code_after_text = ''
  assign empty_space = ' '
  assign arr_separator = ','
  assign prev_placeholder = '####'
  assign next_placeholder = '@@@@'
  assign sort_placeholder = '<div data-sort="'

  if title != blank
    assign title_arr = title | split: ' '
    assign title_arr_size = title_arr.size
  endif
-%}

{%- style -%}
  #TextProducts--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

{%- if section.blocks.size > 0 -%}
  {%- for block in section.blocks -%}
    {%- liquid
      assign width = block.settings.width
      assign image = block.settings.image
      assign image_position = block.settings.image_position
      assign aspect_ratio = block.settings.aspect_ratio
      assign items_index = items_index | append: arr_separator | append: image_position
      assign aspect_ratio = 1 | divided_by: aspect_ratio
      assign link = block.settings.link

      if block.settings.product != blank
        assign product = all_products[block.settings.product]
        assign image = image | default: product.featured_image
        assign link = product.url
      endif

      if block.settings.collection != blank
        assign collection = collections[block.settings.collection]
        assign image = image | default: collection.image
        assign link = collection.url
      endif
    -%}

    {%- capture block_code -%}
      {%- liquid
        assign image_width = width
        assign image_width_retina = image_width | times: 2
        assign image_height_retina = nil
        assign image_sizes = image_width | append: 'px'
        assign image_widths = width | append: ', 40, 60, 90, 120, 150, 180, 200, 240, 300, 360, 400'

        if aspect_ratio < image.aspect_ratio
          assign image_height_retina = image_width_retina | divided_by: aspect_ratio
          assign image_sizes = image_height_retina | times: aspect_ratio | round: 0 | append: 'px'
        endif
      -%}

      <div data-sort="{{ image_position }}"
        class="inline-image"
        style="--image-width: {{ width }}px;"
        data-aos="zoom-in"
        data-aos-duration="1000"
        {{ block.shopify_attributes }}>
        {%- if link != blank -%}
          <a href="{{ link }}" class="inline-image__link">
        {%- endif -%}

        <div class="inline-image__inner">
          {%- liquid
            if image
              render 'image' image: image, aspect_ratio: aspect_ratio, width: image_width_retina, height: image_height_retina, sizes: image_sizes, widths: image_widths, modifier: 'inline-image__image'
            else
              echo 'image' | placeholder_svg_tag: 'inline-image__image svg-placeholder'
            endif
          -%}
        </div>

        {%- if link != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- liquid
      if block_code != blank
        if image_position > title_arr_size
          capture items_code_after_text
            echo items_code_after_text
            echo empty_space
            echo block_code
          endcapture
        else
          capture items_code
            echo items_code
            echo prev_placeholder
            echo image_position
            echo next_placeholder
            echo block_code
          endcapture
        endif
      endif
    -%}
  {%- endfor -%}
{%- endif -%}

<section id="TextProducts--{{ section.id }}"
  class="index-text-products section-padding"
  data-section-id="{{ section.id }}">
  <div class="{{ section.settings.width }} text-center">
    {%- if title_arr_size > 0 or items_code_after_text != '' -%}
      <div class="h2 {{ font_size_class }}"
        data-aos="hero"
        data-aos-anchor="{{ animation_anchor }}">
        {%- liquid
          if title_arr_size > 0 and items_code != ''
            assign items_index_arr = items_index | remove_first: arr_separator | split: arr_separator

            for title_word in title_arr
              assign title_index_string = forloop.index | append: ''
              assign code_after_word = ''

              unless forloop.first
                echo empty_space
              endunless

              echo title_word

              if items_index_arr contains title_index_string
                assign word_check = forloop.index | prepend: prev_placeholder | append: next_placeholder
                assign items_code_arr = items_code | split: word_check
                assign item_code = items_code_arr | last | split: prev_placeholder | first

                if items_code_arr.size > 2
                  for item_code_multiple in items_code_arr
                    assign item_code_multiple_element = item_code_multiple | split: prev_placeholder | first
                    assign code_after_word = code_after_word | append: empty_space | append: item_code_multiple_element
                  endfor
                else
                  assign code_after_word = item_code
                endif

                if code_after_word != ''
                  echo empty_space
                  echo code_after_word | strip
                endif
              endif
            endfor
          elsif title_arr_size > 0
            echo title
          endif

          if items_code_after_text != ''
            if title_arr_size > 0
              echo empty_space
            endif

            echo items_code_after_text | split: sort_placeholder | sort | join: sort_placeholder | strip
          endif
        -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Text with products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Highlight products, a collection or images alongside a brand message"
    },
    {
      "type":  "range",
      "id":    "heading_size",
      "label": "Heading size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 7
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"},
        {"value": "wrapper--narrow", "label": "Narrow"}
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "aspect_ratio",
          "min": 0.5,
          "max": 1.5,
          "step": 0.1,
          "unit": ":1",
          "label": "Image aspect ratio",
          "info": "Wide to tall",
          "default": 1
        },
        {
          "type": "range",
          "id": "image_position",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Image position",
          "default": 1
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "unit": "px",
          "min": 40,
          "max": 200,
          "step": 10,
          "default": 80
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "label": "Product",
          "id": "product",
          "type": "product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image override"
        },
        {
          "type": "range",
          "id": "aspect_ratio",
          "min": 0.5,
          "max": 1.5,
          "step": 0.1,
          "unit": ":1",
          "label": "Image aspect ratio",
          "info": "Wide to tall",
          "default": 1
        },
        {
          "type": "range",
          "id": "image_position",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Image position",
          "default": 1
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "unit": "px",
          "min": 0,
          "max": 300,
          "step": 10,
          "default": 80
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Override"
        },
        {
          "type": "range",
          "id": "aspect_ratio",
          "min": 0.5,
          "max": 1.5,
          "step": 0.1,
          "unit": ":1",
          "label": "Image aspect ratio",
          "info": "Wide to tall",
          "default": 1
        },
        {
          "type": "range",
          "id": "image_position",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Image position",
          "default": 1
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "unit": "px",
          "min": 0,
          "max": 300,
          "step": 10,
          "default": 80
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Text with products",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "image_position": 1
          }
        },
        {
          "type": "image",
          "settings": {
            "image_position": 5
          }
        },
        {
          "type": "collection",
          "settings": {
            "image_position": 7
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
