<!-- /sections/section-custom-code.liquid -->

{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
-%}

{%- style -%}
  #CustomCode--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

<section id="CustomCode--{{ section.id }}"
  class="custom-code section-padding {{ section.settings.width }}"
  data-section-id="{{ section.id }}"
  data-section-type="custom-code">
  {{ section.settings.code }}
</section>

{% schema %}
{
  "name": "Custom code",
  "settings": [
    {
      "type": "liquid",
      "id": "code",
      "label": "Custom code",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper--full", "label": "Full width"},
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"},
        {"value": "wrapper--narrow", "label": "Narrow"}
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "id": "bg_color",
      "type": "color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Custom code",
      "category": "Text"
    }
  ]
}
{% endschema %}