<!-- /sections/section-hero.liquid -->
{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign overlay_color = section.settings.overlay_color
  assign overlay_opacity = section.settings.overlay_opacity | times: 0.01
  assign show_overlay_text = section.settings.show_overlay_text
  assign animation_anchor = '#Hero--' | append: section.id
  assign color_brightness = text_color | color_brightness
  assign text_color_class = ''
  assign desktop_height = section.settings.height
  assign mobile_height = section.settings.mobile_height
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2

  assign hero_transparent = false
  if bg_color == 'rgba(0,0,0,0)' or bg_color == blank
    assign hero_transparent = true
  endif

  assign show_header_backdrop = false
  if hero_transparent and show_overlay_text
    assign show_header_backdrop = true
  endif

  if color_brightness > 127
    assign text_color_class = 'text-light'
  else
    assign text_color_class = 'text-dark'
  endif

  assign animation_order = 1
-%}

{%- style -%}
  #Hero--{{ section.id }} {
    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

<div class="index-hero wide-image {{ text_color_class }}"
  id="Hero--{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
  data-overlay-header>
  <div class="hero__wrapper frame {{ section.settings.width }}">
    {%- if section.blocks.size > 0 -%}
      <div class="hero__content__wrapper frame__item {{ section.settings.flex_align }}{% if show_header_backdrop %} backdrop--linear{% endif %}"{% if show_header_backdrop %} style="--header-overlay-color: {{ overlay_color }}; --header-overlay-opacity: {{ overlay_opacity }};"{% endif %}>
        <div class="hero__content{% if hero_transparent %} hero__content--transparent{% if show_overlay_text %} backdrop--radial{% endif %}{% endif %}"{% if show_header_backdrop %} style="--bg: {{ overlay_color }}; --overlay-opacity: {{ overlay_opacity }};"{% endif %}>
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                {%- if block.settings.title != '' -%}
                  {%- assign font_size_class = block.settings.heading_size | prepend: 'heading-size-' -%}
                  {%- assign animation_order = animation_order | plus: 1 -%}
                  <h2 class="hero__title {{ font_size_class }}"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}"
                    {{ block.shopify_attributes }}>
                  {{ block.settings.title | escape }}</h2>
                {%- endif -%}

              {%- when 'text' -%}
                {%- if block.settings.description != '' -%}
                  {%- assign font_size_class = block.settings.text_size | prepend: 'body-size-' -%}
                  {%- assign animation_order = animation_order | plus: 1 -%}
                  <p class="hero__description {{ font_size_class }} {{ block.settings.text_style }}"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}"
                    {{ block.shopify_attributes }}>
                    {{ block.settings.description }}
                  </p>
                {%- endif -%}

              {%- when 'button' -%}
                {%- liquid
                  assign prev_index = forloop.index0 | minus: 1
                  assign next_index = forloop.index0 | plus: 1
                  assign prev_block = section.blocks[prev_index]
                  assign next_block = section.blocks[next_index]
                  assign link_url = block.settings.link
                  assign link_text = block.settings.link_text
                  assign animation_order = animation_order | plus: 1

                  assign button_style = block.settings.button_style
                  if button_style == 'btn--text' and block.settings.show_arrow
                    assign button_style = ' btn--text-no-underline'
                  endif
                -%}

                {%- if next_block.type == 'button' and next_index != section.blocks.size -%}
                  <div class="hero__button-group">
                {%- endif -%}

                {%- if link_text != '' -%}
                  <div class="hero__button"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="{{ animation_order }}"
                    {{ block.shopify_attributes }}>
                    <a class="btn {{ button_style }} {{ block.settings.button_size }} {{ block.settings.button_type }}" href="{{ link_url | default: '#!' }}">
                      <span>{{ link_text | escape }}</span>

                      {%- if block.settings.show_arrow -%}
                        {% render 'icon-arrow-right' %}
                      {%- endif -%}
                    </a>
                  </div>
                {%- endif -%}

                {%- if prev_block.type == 'button' and prev_index != -1 -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>

        {%- if link_url != blank and link_text == blank -%}
          {%- assign blocks_heading = section.blocks | where: 'type', 'heading' -%}
          {%- assign blocks_text = section.blocks | where: 'type', 'text' -%}
          <a href="{{ link_url }}" class="hero__content__link" aria-label="{{ image_1.alt | default: image_2.alt | default: blocks_heading[0].settings.title | default: blocks_text[0].settings.description | strip_html | escape }}">&nbsp;</a>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="hero__images frame__item">
      {%- unless show_overlay_text -%}
        <div class="image-overlay" style="--bg: {{ overlay_color }}; --overlay-opacity: {{ overlay_opacity }};"></div>
      {%- endunless -%}

      {%- assign desktop_image_modifier = '' -%}
      {%- assign mobile_image = '' -%}
      {%- if section.settings.mobile_image != blank -%}
        {%- assign desktop_image_modifier = ' desktop' -%}

        {%- capture mobile_image -%}
          <div class="hero__split-image mobile">
            {%- render 'image-hero' image: section.settings.mobile_image, desktop_height: desktop_height, mobile_height: mobile_height -%}
          </div>
        {%- endcapture -%}
      {%- endif -%}

      {%- if image_1 != blank -%}
        <div class="hero__split-image{{ desktop_image_modifier }}">
          {%- render 'image-hero' image: image_1, desktop_height: desktop_height, mobile_height: mobile_height -%}
        </div>
      {%- endif -%}

      {%- if image_2 != blank or image_1 == blank -%}
        <div class="hero__split-image{{ desktop_image_modifier }}">
          {%- render 'image-hero' image: image_2, desktop_height: desktop_height, mobile_height: mobile_height -%}
        </div>
      {%- endif -%}

      {{ mobile_image }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image banner",
  "class": "section-fullscreen",
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "screen-height-three-quarters",
      "options": [
        { "value": "image-height", "label": "Image height" },
        { "value": "screen-height-full", "label": "Full screen height"},
        { "value": "screen-height-three-quarters", "label": "3/4 of screen"},
        { "value": "screen-height-two-thirds", "label": "2/3 of screen"},
        { "value": "screen-height-one-half", "label": "1/2 of screen"},
        { "value": "screen-height-one-third", "label": "1/3 of screen"},
        { "value": "seven-fifty-height-hero", "label": "750px" },
        { "value": "sixty-fifty-height-hero", "label": "650px" },
        { "value": "five-fifty-height-hero ", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full",
      "options": [
        {"value": "wrapper--full", "label": "Full width"},
        {"value": "wrapper--full-padded", "label": "Full width padded"}
      ]
    },
    {
      "type": "header",
      "content": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Height",
      "default": "screen-height-three-quarters--mobile",
      "options": [
        { "value": "image-height--mobile", "label": "Image height" },
        { "value": "screen-height-full--mobile", "label": "Full screen height"},
        { "value": "screen-height-three-quarters--mobile", "label": "3/4 of screen"},
        { "value": "screen-height-two-thirds--mobile", "label": "2/3 of screen"},
        { "value": "screen-height-one-half--mobile", "label": "1/2 of screen"},
        { "value": "screen-height-one-third--mobile", "label": "1/3 of screen"},
        { "value": "seven-fifty-height-hero--mobile", "label": "750px" },
        { "value": "sixty-fifty-height-hero--mobile", "label": "650px" },
        { "value": "five-fifty-height-hero--mobile", "label": "550px" },
        { "value": "four-fifty-height-hero--mobile", "label": "450px" }
      ]
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "flex_align",
      "label": "Alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "Top left"},
        { "value": "align--top-center", "label": "Top center"},
        { "value": "align--top-right", "label": "Top right"},
        { "value": "align--middle-left", "label": "Middle left"},
        { "value": "align--middle-center", "label": "Absolute center"},
        { "value": "align--middle-right", "label": "Middle right"},
        { "value": "align--bottom-left", "label": "Bottom left"},
        { "value": "align--bottom-center", "label": "Bottom center"},
        { "value": "align--bottom-right", "label": "Bottom right"}
      ]
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacity",
      "info": "Increase contrast for legible text.",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default":0
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_text",
      "label": "Overlay behind text only",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text",
      "default": "#FFFFFF"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image banner"
        },
        {
          "type":  "range",
          "id":    "heading_size",
          "label": "Size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default":11
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 2,
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "label": "Text",
          "default": "Tell your brand's story through images."
        },
        {
          "type":  "range",
          "id":    "text_size",
          "label": "Size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default":5
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Style",
          "default": "font-body",
          "options": [
            {"value": "font-heading", "label": "Heading"},
            {"value": "font-body", "label": "Body"}
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Text",
          "default": "View products",
          "info": "Leave blank to link entire image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Color",
          "default": "btn--primary",
          "options": [
            {"value": "btn--primary", "label": "Primary"},
            {"value": "btn--secondary", "label": "Secondary"},
            {"value": "btn--white", "label": "White"},
            {"value": "btn--black", "label": "Black"}
          ]
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "",
          "options": [
            { "label": "Small", "value": "btn--small" },
            { "label": "Medium", "value": "" },
            { "label": "Large", "value": "btn--large" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn--solid",
          "options": [
            { "label": "Solid", "value": "btn--solid" },
            { "label": "Outline", "value": "btn--outline" },
            { "label": "Text", "value": "btn--text" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "Show arrow",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "category": "Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
