{%- if linklists[collection.handle].links.size > 0 -%}
  {%- style -%}
    .collection-subcollections {
      --PT: {{ section.settings.padding_top }}px;
      --PB: {{ section.settings.padding_bottom }}px;
      {%- unless section.settings.bg_color == 'rgba(0,0,0,0)' or section.settings.bg_color == blank -%}
        --bg: {{ section.settings.bg_color }};
      {%- endunless -%}
    }
  {%- endstyle -%}

  <section class="collection collection-subcollections collection-{{ collection.handle }} section-padding"
    data-section-id="{{ section.id }}"
    data-section-type="collection">
    {%- assign sub_collections = linklists[collection.handle].links -%}

    {%- if sub_collections.size > 0 -%}
      {%- liquid
        assign sub_collection_html = ''
        assign sub_collection_counter = 0
        assign sub_collection_limit = 6
      -%}

      {%- for sublink in sub_collections -%}
        {%- liquid
          if sublink.type != 'collection_link' or sublink.object.handle == blank
            continue
          endif

          assign sub_collection_handle = sublink.object.handle
          assign sub_collection_handle_separator = sub_collection_handle | append: ',' | prepend: ','
          assign sub_collection = collections[sub_collection_handle]

          if sublink.object.handle contains sub_collection_handle_separator
            continue
          endif
        -%}

        {%- capture sub_collection_html -%}
          {{ sub_collection_html }}

          <div class="subcollection__item" data-slide="{{ forloop.index0 }}" data-slide-index="{{ forloop.index0 }}">
            <div class="subcollection__inner">
              <a class="subcollection__link" href="{{ sub_collection.url }}">
                <div class="subcollection__image">
                  {%- assign image = sub_collection.image -%}

                  {%- if section.settings.select_image == 'product' or image == blank -%}
                    {%- assign image = sub_collection.products.first.featured_media.preview_image -%}
                  {%- endif -%}

                  {%- capture sizes -%}
                    (min-width: 750px) (calc(100vw - 16px) / 3), calc(100vw - 32px)
                  {%- endcapture -%}

                  {%- render 'image' image: image, sizes: sizes, cover: true -%}
                </div>
                <div class="image-overlay-bottom"></div>
                <div class="subcollection__text">
                  <p class="subcollection__title h5">{{ sub_collection.title }}</p>
                  {%- if sub_collection.description != '' and section.settings.subcollection_description -%}
                    <div class="subcollection__description">{{ sub_collection.description }}</div>
                  {%- endif -%}
                </div>
              </a>
            </div>
          </div>
        {%- endcapture -%}

        {%- assign sub_collection_counter = sub_collection_counter | plus: 1 -%}

        {%- if sub_collection_counter >= sub_collection_limit -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if sub_collection_html != '' -%}
        {%- assign layout_grid_classes = 'subcollections__inner--grid' -%}
        {%- assign layout_grid_attributes = '' -%}

        {%- if section.settings.subcollection_layout == 'carousel' and sub_collection_counter > 4 -%}
          {%- assign layout_grid_classes = 'subcollections__inner--slider' -%}
          {%- assign layout_grid_attributes = 'data-slider="' | append: section.id | append: '"' -%}
        {%- endif -%}

        <div class="subcollections subcollections__grid--{{ sub_collection_counter | at_most: 6 }}">
          <div class="subcollections__inner {{ layout_grid_classes }}"
            {{ layout_grid_attributes }} 
            data-options='{"watchCSS": true, "cellAlign": "left", "pageDots": false, "prevNextButtons": true, "groupCells": true}'>
            {{ sub_collection_html }}
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Subcollections",
  "templates": ["collection"],
  "settings": [
    {
      "type": "paragraph",
      "content": "Create a [navigation list](/admin/menus) with the same name as this collection and link to other collections. [Learn more](https://invisiblethemes.com/link/broadcast/docs/subcollection)"
    },
    {
      "type": "select",
      "id": "subcollection_layout",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "checkbox",
      "id": "subcollection_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "select",
      "id": "select_image",
      "label": "Select a photo to display",
      "options": [
        {
          "value": "collection",
          "label": "Collection image"
        },
        {
          "value": "product",
          "label": "Product image"
        }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    }
  ]
}
{% endschema %}