<!doctype html>
<html class="no-js no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">
  <head>
    [%render'partials/head'%]
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.show_button_animation %} show-button-animation{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-borders-header{% endif %}" data-animations="{{ settings.animations_enable }}">
    {%- render 'loading' -%}

    <a class="in-page-link visually-hidden skip-link" data-skip-content href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}
    </a>

    <div class="container" data-site-container>
      <div class="header-group">
        {% sections 'header-group' %}
      </div>

      <!-- CONTENT -->
      <main role="main" id="MainContent" class="main-content">

        {{ content_for_layout }}

      </main>
    </div>

    {% sections 'pre-footer-group' %}

    {% sections 'footer-group' %}

    {% render 'template-swatch' %}

    {% render 'zoom-pswp' %}

    {%- render 'cart-templates' -%}

    {%- if settings.enable_cart_dropdown and template.name != 'cart' -%}
      {%- render 'cart-drawer' cart: cart -%}
    {%- endif -%}

    {%- if template.name != 'product' and settings.show_scroll_top_button -%}
      <button type="button" class="btn btn--scroll-top btn--black btn--solid" aria-label="{{ 'general.accessibility.scroll_to_top' | t }}" data-scroll-top-button>
        {%- render 'icon-arrow-up' -%}
      </button>
    {%- endif -%}

    {%- comment -%}
      In order to use your custom javascript file at assets/custom.js
      just cut this next line and paste it outside this comment:
      <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    {%- endcomment -%}
    <!-- Paste marketing code or third party scripts below this comment line ============== -->



    <!-- And above this comment line ================================================== -->
  </body>
</html>
